body {
    font-family: 'Raleway' ;
    background-color: #fff;
    color: #000;
    font-size: 18px;
    margin: 0 auto;
    width: 1510px;
}
.header {
    background-color: #000;
    background-color: rgb(0, 0, 0.);
    width: 100%;
} 
.container1 {
    max-width: 1170px;
    margin: auto;
}
.nav__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 76px;
    justify-content: space-between;
}

nav li a {
    text-decoration: none;
    color: #FFF;
}
.nav li:not(:first-child) {
    margin-left: 60px;
}
.container {
    max-width: 1170px;
    margin: 0 auto;
}
.block-awesome {
    display: flex;
    margin-top: 50px;
}
.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    align-items: center;
}
hr {
    width: 170px;
    border: none;
    height: 1px;
    background-color: #EC7979;
    margin-top: 0;
    margin-bottom: 40px;
}
.subtitle {
    font-size: 18px;
    color: #86878B;
    margin-bottom: 110px;
}
.excellence {
    padding-right: 25px;
    padding-left: 0;
    display: inline-block;
    list-style-type: none;
}
.advantages {
    padding-right: 0;
    /* padding-left: 26px; */
    padding-left: 0;
    display: inline-block;
    list-style-type: none;
}
.icons {
    margin-bottom: 39px;
}
.benefits {
    padding-left: 25px;
    padding-right: 0;
    display: inline-block;
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 58px;
}
li {
    display: flex;
    justify-content: center;
}
.about {
    font-family: 'Open Sans';
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    /* margin-top: 39px; */
    /* margin-bottom: 8px; */
}
.description {
    width: 370px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
}
.pricing__list {
    width: 1170px;
    margin-left: 171px;
    margin-right: 169px;
}
.description span {
    display: block;
}
.block-pricing {
    background-color: #F5F5F5;
    padding-bottom: 50px;
}
.container2 {
    font-family: 'Raleway';
    font-weight: 400;
    margin: 0 auto;
    /* margin-top: 50px; */
    max-width: 1170px;
}
.title2 {
    font-family: 'Raleway';
    font-weight: 400;
    text-transform: uppercase;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 53px;
    margin-top: 0;
    margin-bottom: 0;
}
.subtitle2 {
    font-size: 18px;
    color: #86878B;
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
}
main .main {
    background-color: #f5f5f5;
}
.container3 {
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    margin-left: 150px;
    margin-right: 190px;
    background-color: #F5F5F5;
}
.price {
    text-align: center;
    display: inline-block;
    width: 370px;
    transition: all 0.3s;
}
.price:hover {
    transform: translate(0, -20px);
    -webkit-transform: translate(0, -20px);
    -o-transform: translate(0, -20px);
    -moz-transform: translate(0, -20px);
    box-shadow: 0px 4px 10px rgba(51, 51, 51, 0.2);
}
.price-head {
    background-color:#333333;
    color: #FFF;
}
.price-title {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
}
.price-count {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 36px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
}
.price-free {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFF;
    color: #FFFFFF80;
}
.list {
    padding: 0;
    margin-top: 0;
}
.price-list {
    height: 50px;
    background-color: #FFF;
    color: #86878B;
    border: 1px solid #F5F5F5;
    align-items: center;
}